{:name "css-theme"
 ; build
 :lazy false
 :cljs-namespace [frontend.css]
 :cljs-ns-bindings {'frontend.css {'add-components frontend.css/add-components
                                   'set-theme-component frontend.css/set-theme-component
                                   'get-theme-component frontend.css/get-theme-component
                                   'css-loader frontend.css/css-loader
                                   'loading? frontend.css/loading?}}
; runtime
 :cljs-service {:config-fn frontend.css/config-theme
                :start-fn frontend.css/add-components}}

