{:deps {org.pinkgorilla/ui-codemirror {:mvn/version "0.1.49"}
        org.pinkgorilla/css-theme {:local/root "../" :deps/manifest :deps}}

 :aliases
 {:demo {:exec-fn demo/demo
         :exec-args {:config {:css/theme {:codemirror "dracula"}}
                     :profile "npm-install"
                     :version "prod1"}}}}